<h1><%= @dashboard.name.to_s.humanize %></h1>

<table>
  <thead>
    <tr>
      <% @resource_config.index_fields.each do |field| %>
        <th><%= field.name.to_s.humanize %></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr id="<%= @resource_config.model_name_param %>_<%= record.id %>_row">
        <% @resource_config.index_fields.each do |field| %>
          <td>
            <% if field.enum? %>
              <%= record.public_send(field.name).to_s.humanize %>
            <% else %>
              <%= record.public_send(field.name) %>
            <% end %>
          </td>
        <% end %>
        <td><%= link_to "Edit", edit_resource_path(resource: @resource_config.model_name_param, id: record.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "backstage/shared/pagination" %>
